[submodule "openglVisualizedEquation/external/glfw"]
    path = openglVisualizedEquation/external/glfw
    url = https://github.com/glfw/glfw.git
   
[submodule "openglVisualizedEquation/external/glad"]
	path = openglVisualizedEquation/external/glad
	url = https://github.com/Dav1dde/glad.git

